.title {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 28px;
	font-weight: bold;
	margin-bottom: 40px;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	padding-left: 0;
}

.cabor {
	font-size: 11px;
	line-height: 18px;
	text-align:right;
	white-space:nowrap;
	overflow:hidden;
	padding-top: 24px;
	padding-right: 0;
	width:150px;
}

.scroll {
	overflow-x:scroll;
	overflow-y:hidden;
}

.main-table {
	table-layout: fixed;
	width:200%;
}

.table-header {
	font-size: 13px;
	/*position: fixed;
	top: 70px;*/
	z-index: 1;
}

.table-content {
	width: 100%;
	padding-bottom: 30%;
	/*margin-top: 18px;*/
}

.top-medalist {
	width: 200px;
	margin-top: 25px;
}

.fixed {
	position: fixed;
	top: 70px;
}

.filter {
	border: 1px solid #bbbbbb;
	border-radius: 5px;
	padding: 10px;
}

select {
	margin-top: 10px;
}

.button-wrapper {
	display: flex;
	justify-content: center;
}

.container-wrap {
	margin-right: auto;
	margin-left: auto;
	max-width: 95%;
	padding-right: 10px;
}

.button {
	align-self: center;
}

svg > g > g:last-child { pointer-events: none }
